* {
  box-sizing: border-box;
}
@font-face {
  font-family: "TT Norms";
  src: url(..//fonts/TTNorms-Regular.ttf);
}
body {
  margin: 0;
  height: 5000px;
}
.contact_popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #323264;
  opacity: 0.7;
}
.form {
  width: 527px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f5f5fa;
  border-radius: 12px;
  padding: 20px;
  font-family: "TT Norms";
}
.popup {
  margin-left: 20px;
  padding-right: 18px;
  font-weight: bold;
  font-size: 32px;
  background-color: #f0145a;
  background-image: linear-gradient(to right, #f0145a 60%, #ef8080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.answer {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #b3b3ba;
}
.input,
.answer,
.popup {
  margin-top: 0;
  margin-bottom: 20px;
}
.button {
  margin-right: 138px;
  margin-left: 139px;
  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 52px;
  padding-right: 52px;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  background-color: #24a3ff;
  font-size: 14px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

::placeholder {
  color: #b3b3ba;
  font-size: 18px;
}
textarea {
  resize: none;
}
.input {
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  padding-top: 11px;
  padding-bottom: 10px;
  width: 487px;
}
.close {
  background: url(..//img/Close.png) no-repeat center;
  width: 18px;
  height: 18px;
  border: none;
  position: absolute;
  right: 22px;
  top: 22px;
  left: 487px;
  bottom: 536px;
  cursor: pointer;
}
